---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Contattaci</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Name" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Phone" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Message" required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>
        </div>

    </div>
</div>
<!-- End Hero -->



<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">Il Corso</h2>

        <div class="row">
            <div class="col-sm-6">
                <!-- <h3>Descrizione</h3> -->
                <p>Il Master di II livello in interpretazione della Musica Contemporanea si propone, quale obiettivo fondamentale, quello di garantire l’acquisizione delle competenze tecniche e teoriche necessarie per affrontare in termini specialistici il repertorio della musica contemporanea. Il Master prevede un percorso di studio di alto perfezionamento orientato nello specifico settore della produzione e interpretazione della musica contemporanea. Finalità del corso è quella di formare professionisti di livello internazionale pienamente consapevoli della prassi esecutiva e del repertorio contemporaneo, solistico e d’insieme, dello strumento.</p>
                <p>Il piano di studi del Master è articolato in lezioni individuali, di gruppo e collettive; in laboratori e in stages presso enti di rilievo internazionale quali: Musica per Roma, Accademia Filarmonica Romana, Nuova Consonanza, Istituzione Universitaria dei Concerti (IUC) ed Europa Musica. Il percorso formativo prevede, quale momento connotante e qualificante del corso, la partecipazione alla produzione di recital e concerti presso gli Enti ospitanti gli stages.</p>

            </div>
            <div class="col-sm-6">
                <!-- <img src="img/biggroup.svg" alt="..."> -->
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-chevron-right"><use xlink:href="#icon-chevron-right"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Accesso: Per esame, curriculum e colloquio.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-chevron-right"><use xlink:href="#icon-chevron-right"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Durata: Un anno accademico (2 semestri)</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-chevron-right"><use xlink:href="#icon-chevron-right"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Strumenti per l’edizione 2015-16: Chitarra, Contrabbasso, Percussioni, Pianoforte, Saxofono, Viola.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-chevron-right"><use xlink:href="#icon-chevron-right"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Enti coinvolti:
                          Conservatorio di Musica di Santa Cecilia - Nuova Consonanza - Musica per Roma - Accademia Filarmonica Romana - Istituzione Universitaria dei Concerti (IUC) - Europa Musica</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contattaci</h3>
        <ul>
            {% if site.contact.phone %}<li><strong>Telefono:</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.emergency %}<li><strong>Cellulare:</strong> {{ site.contact.emergency }}</li>{% endif %}
            {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Calendario 2015/2016</h3>
        {% for month in site.data.months %}
        <table>
            <tbody>
                <tr>
                    <td>{{ month.month }}</td>
                    <td>{{ month.dates }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Luoghi</h3>
          <p><em>{{ site.contact.school }}</em></p>
          <p>{{ site.contact.address }}</p>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Corsi</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->

{% include docenti.html %}

<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                      <img src="{{ site.baseurl }}/img/{{ testimonial.image }}" alt="{{ testimonial.name }}"><br><br>
                        <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                {{ testimonial.name }}
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Start Gallery -->
<div id="gallery" class="gallery">

    <h2 class="section-title">Galleria Fotografica</h2>

    {% for images in site.data.gallery %}
        <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}" class="gallery-item expandable-box image-link">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
            </div>
            <div class="expandable-box-bottom">
                <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
            </div>
        </a>
    {% endfor %}

</div>
<!-- End Gallery -->

<!-- Start Map -->
<div id="location" class="map" data-zoom="{{ site.map.zoom }}" data-address="{{ site.map.address }}" data-address-details="<img src='{{ site.map.address_details }}'>"></div>
<!-- End Map -->
